# Python
__pycache__/
*.pyc
.venv/
venv/

# Config / secrets
config/*.env
config/*.yaml
config/*.yml

# dbt
dbt/target/
dbt/logs/

# OS
.DS_Store
Thumbs.db

# Power BI temp
*.pbix.tmp

# Default .gitignore content added by dbt Cloud# you shouldn't commit these into source control
# these are the default directory names, adjust/add to fit your needs
target/
dbt_packages/
logs/
# end dbt Cloud content
